body {
    background: #1e1b2c;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

p {
    color: #ccc;
    font-weight: bold;
}

h1 {
    text-align: center;
    font-size: 2.3rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.details-input {
    border-radius: 3px;
    border: none;
    padding: 0.5rem;
    font-size: 1.2rem;
}

#required {
    color: red;
}

#amountInput {
    background-color: #4f6777;
    color: #f3ebdd;
}

#amountInput::placeholder {
    color: #999;
}

#suffixInput {
    background-color: #4f6777;
    color: #f3ebdd;
}

#suffixInput::placeholder {
    color: #999;
}

#bankPinCheckbox {
    cursor: pointer;
}

#generate-button {
    margin-top: 3vh;
    background-color: #285e81;
    color: #fff;
    padding: 1.25rem 3rem;
    border-radius: 2px;
    font-size: 1.25rem;
    cursor: pointer;
}

.output-container {
    margin-top: 3%;
}

.output-container textarea {
    background-color: #111;
    color: white;
}

#textarea {
    margin-left: 3rem;
    width: 30vw;
    height: 45vh;
    font-size: 1.3rem;
    background-color: #202646;
    border: 1px solid #60647b;
    border-radius: 5px;
    color: #f3ebdd;
    text-align: center;
}

#footer {
    text-align: center;
}

#osbot-link {
    color: #469bd3;
}

@media only screen and (max-width: 1260px) {
    h1 {
        font-size: 1.75rem;
    }
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #textarea {
        width: 120vw;
        height: 25vh;
    }
}